.global-nav {
  $global-nav: &;

  @apply bg-black w-full h-full border-r;

  max-width: calc(theme('legocms.sidebar.width') /2);
  background-image: $dotted-bg;

  &__menu {
    @apply py-4 flex flex-col;
  }

  &__item {
    @apply px-6;

    &--active {
        @apply bg-gray-500 text-black font-medium;
    }
  }

  &__link {
    @apply block py-1 my-1 text-gray-700 text-sm text-white;

    &:hover {
      @apply no-underline;
    }
  }

  &__separator {
    @apply my-4 relative;

    &:before {
      @apply absolute bg-gray-700 left-0 right-0 mx-4;

      content: "";
      height: 2px;
    }
  }
}