.secondary-nav {
  $secondary-nav: &;

  @apply w-full h-full pt-10;

  max-width: calc(theme('legocms.sidebar.width') /2);

  &__menu {
    @apply py-4 flex flex-col;
  }

  &__item {
    @apply px-3;

    &--active {
      #{$secondary-nav}__link {
        @apply bg-gray-100 text-black font-medium;
      }
    }
  }

  &__link {
    @apply block py-2 px-3 text-gray-700 text-sm;

    &:hover {
      @apply no-underline;
    }
  }

  &__separator {
    @apply my-4 relative;

    &:before {
      @apply absolute bg-gray-300 left-0 right-0 mx-4;

      content: "";
      height: 1px;
    }
  }
}