.accordion {
    @apply w-full;

    &--expanded {
        .accordion__header .symbol {
            @apply  rotate-180;
        }
    }
    
    &__header {
        @apply font-medium cursor-pointer flex justify-between border-b border-gray-300;
        @apply py-2 px-3;

        .symbol {
            @apply transform transition rotate-0;
        }
    }

    &__body {
        @apply py-3 px-3 bg-gray-100;
    }
}

.expand-enter-active,
.expand-leave-active {
  transition: max-height 0.3s ease-in-out;
  max-height: 600px;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  max-height: 0;
}