.legocms {
  &--admin {
    @apply absolute w-full h-full flex flex-wrap justify-center align-middle;
    background-image: $dotted-bg; 
  }

  &__logo {
    @apply justify-center py-3;
    width: calc( theme('legocms.sidebar.width') / 2 - 15px);
  }

  &__app-name {
    @apply text-lg;
  }

  &__sidebar {
    @apply absolute left-0 bottom-0 flex;

    top: theme('legocms.header.height');
    width: theme('legocms.sidebar.width');
  }

  &__header {
    height: theme('legocms.header.height');

    @apply w-full relative top-0 left-0 right-0;
  }

  &__main {
    @apply absolute right-0 bottom-0;

    top: theme('legocms.header.height');
    left: theme('legocms.sidebar.width');
  }

  &__footer {
    @apply absolute bottom-0 right-0 left-0;
  } 
}