.legocms {

  &__logo {
    @apply h-full flex items-center;

    .legocms__env {
      transform: translateY(-12px);
    }
  }

  &__app-name {
    @apply font-bold;
  }


  &__env{
    @apply inline-flex mx-1 bg-red-700 rounded-full text-white text-xs font-medium;
    padding: 1px 9px;
  }

  &__made-with {
    @apply inline-flex items-center p-3 text-gray-800 text-sm;

    line-height: 1.5;

    .symbol--legocms {
      @apply fill-current;

      width: 80px;
      height: 16px;
    }
  }

}