$symbol-listings-edit: ".symbol--listings-edit";
#{$symbol-listings-edit} {
    width: 24px;
    height: 24px;
}
$symbol-listings-view: ".symbol--listings-view";
#{$symbol-listings-view} {
    width: 24px;
    height: 24px;
}