$symbol-create: ".symbol--create";
#{$symbol-create} {
    width: 24px;
    height: 24px;
}
$symbol-expand: ".symbol--expand";
#{$symbol-expand} {
    width: 24px;
    height: 24px;
}
$symbol-legocms: ".symbol--legocms";
#{$symbol-legocms} {
    width: 100px;
    height: 23px;
}